body {
  margin: 20px;
  font-family: Arial, sans-serif;
  background-color: lightblue;
  color: #000;
}

h1 {
  color: #d80000;
  background-color: #8fdc63;
  text-align: center;
  padding: 14px 20px;
  border: 6px solid #0057e7;
  border-radius: 6px;
  margin: 0 0 20px 0;
}

a {
  color: #003399;
}

table {
  width: 800px;
  border-collapse: collapse;
  border: 2px solid #003366;
}

th {
  border: 2px solid #003366;
  padding: 8px;
  text-align: center;
  background-color: #d3d3d3;
}

td {
  border: 2px solid #003366;
  padding: 8px;
  text-align: center;
  color: #003399;
}
